<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Let's try this</title>
	 <link rel="stylesheet" type="text/css" href="{% static 'bower_components/medium-editor/dist/css/medium-editor.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mediumeditor/django-mediumeditor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/medium-editor/dist/css/themes/beagle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/medium-editor/dist/css/themes/mani.min.css' %} ">
    {{ form.media }}

   <style>
   .wrapper{
       position: relative;
       left: 660px;
       top : 290px;
       
   }
   
   </style>

</head>
<body bgcolor="grey" leftmargin="30%" rightmargin="30%" topmargin="100px">
    <div color="white" id="mid" style=" background: white; border:1px solid blue; height:400px; padding:20px ">
        <h1 style="text-align:center">Here comes the medium editor</h1>
        <h4 align="center">(...Whenever you're ready to type in)</h4>
        <form method="post">
	        <div style="bg-color: white; margin-top: 10px;">
                {% csrf_token %}
                {{ form }}
            </div>
        </form>
    </div>
</body>

</html>